<footer class="flex flex-col items-center justify-between gap-4 px-8 py-6 text-xs md:text-sm lg:flex-row bg-neutral-950">
    <div class="flex items-center order-2 gap-1 font-bold lg:order-1 font-display">
        <span>made with</span>
        <span class="icon-[bxs--heart] h-4 w-4 animate-heart text-rose-600"></span>
        <span>in austria</span>
    </div>
    <div class="flex order-1 gap-2 lg:order-2">
        <a href="/disclaimer" class="ga-di">disclaimer</a>
        |
        <a href="/privacy" class="ga-pr">privacy policy</a>
        |
        <button class="ga-cb" data-cc="show-preferencesModal">cookie settings</button>
    </div>
</footer>
